POSTGRES_DB=toyota_finans
POSTGRES_USER=toyota
POSTGRES_PASSWORD=change-me

PGADMIN_DEFAULT_EMAIL=admin@toyota.com
PGADMIN_DEFAULT_PASSWORD=change-me

KEYCLOAK_ADMIN=toyota
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_PORT=change-me
KEYCLOAK_BFF_CLIENT_SECRET=change-me
